:root {
  --cor-principal: hsl(229, 6%, 66%);
  --cor-seundaria: hsl(234, 12%, 34%); 
  --cor-supervisor:  hsl(180, 62%, 55%);
  --cor-builder:  hsl(0, 78%, 62%);
  --cor-karma:    hsl(34, 97%, 64%);
  --cor-calculator:  hsl(212, 86%, 64%);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, 
h1, 
h2,
h3, 
p{
  font-family: Poppins;
  font-size: 1em;
}

/* Introdução, aplicando o modelo mobile First */
.intro{
  width: 90vh;
  max-width: 320px;
  display: grid;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
.titulo{
  font-size: 1.5em;
  color: var(--cor-principal);
  font-weight: 200;
}
.subtitulo{
  font-size: 1.5em;
  color: var(--cor-secundaria);
  font-weight: 600;
  margin-bottom: 10px;
}
.intro p{
  color: var(--cor-principal);
  font-size: .875em;
  font-weight: 200;
}

img{
  max-width: 100%;
}
/* Cards */
.cards{
  width: 90vw;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px 20px;
  gap: 30px;
}
.card{
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px rgba(194, 174, 174, 0.651);

}

.card h3{
  font-size: 1em;
}
.card p{
  color: var(--cor-principal);
  font-size: .75em;
  font-weight: 200;
  margin-bottom: 10px;
}
.card img{
  float: right;
}
.supervisor{
  border-top: solid 4px var(--cor-supervisor) ;
}
.builder{
  border-top: solid 4px var(--cor-builder) ;
}
.karma{
  border-top: solid 4px var(--cor-karma) ;
}
.calculator{
  border-top: solid 4px var(--cor-calculator) ;
}

@media(min-width: 960px){
  .cards{
    max-width: 960px;
    grid-template-columns: repeat(3, 1fr);
  }
  .supervisor{
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .builder{
    grid-column: 2;
  }
  .karma{
    grid-column: 2;
  }
  .calculator{
    grid-column: 3;
    grid-row: 1 / 3;
  }
}